{% load static %}

<div id="menu">
    <div id="menu-top-section">
        <div class="menu-entry">
            <a href="{% url 'dashboard' %}" class="entry{% if menu == 'dashboard' %} menu-entry-active{% endif %}">
                <img class="menu-icon" src="{% static './administration/icons/dashboard.png' %}" alt="">
                <div>Dashboard</div>
            </a>
        </div>
        <div class="menu-entry">
            <a href="{% url 'howtos' %}" class="entry{% if menu == 'howtos' %} menu-entry-active{% endif %}">
                <img class="menu-icon" src="{% static './administration/icons/howtos.png' %}" alt="">
                <div>How To's</div>
            </a>
        </div>
        <div class="menu-entry">
            <a href="{% url 'steps' %}" class="entry{% if menu == 'steps' %} menu-entry-active{% endif %}">
                <img class="menu-icon" src="{% static './administration/icons/steps.png' %}" alt="">
                <div>Steps</div>
            </a>
        </div>
        <div class="menu-entry menu-sub">
            <a href="{% url 'supersteps' %}" class="entry{% if menu == 'supersteps' %} menu-entry-active{% endif %}">
                <img class="menu-icon" src="{% static './administration/icons/supersteps.png' %}" alt="">
                <div>Supersteps</div>
            </a>
        </div>
        <div class="menu-entry menu-sub">
            <a href="{% url 'substeps' %}" class="entry{% if menu == 'substeps' %} menu-entry-active{% endif %}">
                <img class="menu-icon" src="{% static './administration/icons/substeps.png' %}" alt="">
                <div>Substeps</div>
            </a>
        </div>
        <div class="void-m"></div>
        <div class="menu-entry-noclick">
            <div class="entry">
                <img class="menu-icon" src="{% static './administration/icons/modules.png' %}" alt="">
                <div>Modules</div>
            </div>
        </div>
        <div class="menu-entry menu-sub">
            <a href="{% url 'images' %}" class="entry{% if menu == 'pictures' %} menu-entry-active{% endif %}">
                <img class="menu-icon" src="{% static './administration/icons/pictures.png' %}" alt="">
                <div>Pictures</div>
            </a>
        </div>
        <div class="menu-entry menu-sub">
            <a href="{% url 'text' %}" class="entry{% if menu == 'texts' %} menu-entry-active{% endif %}">
                <img class="menu-icon" src="{% static './administration/icons/explanations.png' %}" alt="">
                <div>Texts</div>
            </a>
        </div>
        <div class="menu-entry menu-sub">
            <a href="{% url 'code' %}" class="entry{% if menu == 'codes' %} menu-entry-active{% endif %}">
                <img class="menu-icon" src="{% static './administration/icons/codes.png' %}" alt="">
                <div>Codes</div>
            </a>
        </div>
        <div class="menu-entry menu-sub">
            <a href="#" class="entry">
                <img class="menu-icon" src="{% static './administration/icons/links.png' %}" alt="">
                <div><s>Links</s></div>
            </a>
        </div>
        <div class="void-m"></div>
        <div class="menu-entry">
            <a href="#" class="entry">
                <img class="menu-icon" src="{% static './administration/icons/tags.png' %}" alt="">
                <div><s>Tags</s></div>
            </a>
        </div>
    </div>
    <div id="menu-bottom-section">
        <div class="menu-divider"></div>
        <div class="menu-entry">
            <a href="#" class="entry">
                <img class="menu-icon" src="{% static './administration/icons/settings.png' %}" alt="">
                <div><s>Settings</s></div>
            </a>
        </div>
        <div class="menu-entry">
            <a href="{% url 'information' %}" class="entry{% if menu == 'information' %} menu-entry-active{% endif %}">
                <img class="menu-icon" src="{% static './administration/icons/information.png' %}" alt="">
                <div>Information</div>
            </a>
        </div>
    </div>
    <div>
        <a id="logout-section" href="{% url 'logout' %}">Logout</a>
    </div>
</div>
