{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dashboard</title>
        <link rel="stylesheet" type="text/css" href="{% static './administration/style/style.css' %}">
    </head>
    <body>
        <div id="login-form">
            <form method="POST">
                {% csrf_token %}
                <fieldset>
                    {{form}}
                    <button type="submit">Login</button>
                </fieldset>
            </form>
        </div>
    </body>
</html>
