{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sequences</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{% static './cms/style/materialize.css' %}"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{% static './cms/style/style.css' %}">

    </head>
    <body>
        {% include 'modules/navigation.html' %}
        <main class="p3">
            {% block content %}
            {% endblock content %}
        </main>

        <script type="text/javascript" src="{% static './cms/js/src/materialize.js' %}"></script>
        <script type="text/javascript">
            /* force reload when using browser back */
            (function () {
                window.onpageshow = function(event) {
                    if (event.persisted) {
                        window.location.reload();
                    }
                };
            })();
        </script>

        {% comment %}
        <script src="{% static './cms/js/functions.js' %}" type="text/javascript"></script>
        {% endcomment %}

        {% block page-script %}
        {% endblock page-script %}

    </body>
</html>