{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './project/style/style.css' %}">
    <title>How To's</title>
</head>
    <body>
        <div id="header" class="pos-c-c">
            <div id="headercontent">
                <ul>
                    <li><a href="{% url 'home' %}" class="header-link">Home</a></li>
                    <li><a href="#" class="header-link"><s>Project</s></a></li>
                    <li><a href="#" class="header-link"><s>Code</s></a></li>
                    <li><a href="#" class="header-link"><s>Contact</s></a></li>
                </ul>
            </div>
        </div>
        <div class="mainsection pos-c-c bg-shade32">
            <div class="sectioncontent col-2">
                <div>
                    <div>
                        <p>The project <strong>How to's</strong> consists of a collection of web applications that allow to create, manage, edit and view <strong>Step-by-Step</strong> instructions.</p>
                        <br>
                        <p>An important key aspect ist the modularity of the documentation. Reusable steps, explanations, pictures, links and so on are a core concept of the technology behind it.</p>
                    </div>
                </div>
                <div>
                    <img src="{% static './project/img/demo.png' %}" alt="How Tos on various deivces" id="pic-demo">
                </div>
            </div>
        </div>
        <div class="mainsection pos-c-c bg-shade242">
            <div class="sectioncontent col-2">
                <div class="pos-c-c">
                    <div class="webapps-link">
                        <h3><s>Viewer</s></h3>
                        <p><s>The <strong>Viewer</strong> is a web application to consume the content. View comprehensive How To Step-by-Step Instructions and get things done quicker.</s></p>
                        <a href="#" class="btn btn-dark" target="_blank"><s>Viewer</s></a>
                    </div>
                </div>
                <div class="pos-c-c">
                    <div class="webapps-link">
                        <h3>Administration</h3>
                        <p>The <strong>Administration</strong> is a web application where collaborators create content.</p>
                        <a href="{% url 'login' %}" class="btn btn-dark" target="_blank">Administration</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mainsection pos-c-c bg-shade232">
            <div class="sectioncontent col-2">
                <div class="pos-c-c">
                    <img id="pic-kb" src="{% static './project/img/knowledge_base.png' %}" alt="knowledge base">
                </div>
                <div>
                    <p>This project acts as my final project of the <strong>Coding Campus Feldkirch</strong> but will be continuously developed and maintained in the future. It is my personal Knowledge Base and contribution to other Junior Software developers out there.</p>
                </div>
            </div>
        </div>
        <div class="mainsection pos-c-c bg-shade202">
            <div class="sectioncontent">
                <div>
                    <h3>What do we need documentation for?</h3>
                    <br>
                    <p>Not everyone is positively inclined towards documentation, especially when it comes to Software development. It is a lot of work and generally speaking those things are just lies waiting to be read, if not properly maintained.</p>
                    <br>
                    <p>Do never forget, that code should be self explanatory and not much documentation should be neccessary.</p>
                    <br>
                    <p>However there is a lot of stuff as well, especially regarding development and deployment procedures which evolved over time and aren't in any way self explanatory. And those are the things that need proper documentation.</p>
                    <br>
                    <p>Don't spend so much time explaining new staff how things are done. Starting creating Step-by-Step procedures.</p>
                </div>
            </div>
        </div>
        <div id="copyright" class="pos-c-c">
            <div id="copyrightcontent" class="pos-c-c bg-shade32">
                Copyright &copy; 2021 tiveritz
            </div>
        </div>
    </body>
</html>