{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div id="content">
        <h1>Dashboard</h1>
        <div class="void-xl"></div>
        <div class="dashboard-table">
            <div class="dashboard-section dashboard-main-section">
                <img class="dashboard-icon" src="{% static './administration/icons/howtos.png' %}" alt="">
                <div class="dashboard-entry">
                    <div>How To's</div>
                    <div class="dashboard-number">{{ statistics.how_tos }}</div>
                </div>
            </div>
        </div>
        <div class="dashboard-table">
            <div class="dashboard-section dashboard-main-section">
                <img class="dashboard-icon" src="{% static './administration/icons/steps.png' %}" alt="">
                <div class="dashboard-entry">
                    <div>Steps</div>
                    <div class="dashboard-number">{{ statistics.steps }}</div>
                </div>
            </div>
            <div class="dashboard-section">
                <img class="dashboard-icon" src="{% static './administration/icons/supersteps.png' %}" alt="">
                <div class="dashboard-entry">
                    <div>Supersteps</div>
                    <div class="dashboard-number">{{ statistics.supersteps }}</div>
                </div>
            </div>
            <div class="dashboard-section">
                <img class="dashboard-icon" src="{% static './administration/icons/substeps.png' %}" alt="">
                <div class="dashboard-entry">
                    <div>Substeps</div>
                    <div class="dashboard-number">{{ statistics.substeps }}</div>
                </div>
            </div>
        </div>
        <div class="dashboard-table">
            <div class="dashboard-section dashboard-main-section">
                <img class="dashboard-icon" src="{% static './administration/icons/modules.png' %}" alt="">
                <div class="dashboard-entry">
                    <div>Modules</div>
                    <div class="dashboard-number">{{ statistics.modules }}</div>
                </div>
            </div>
            <div class="dashboard-section">
                <img class="dashboard-icon" src="{% static './administration/icons/explanations.png' %}" alt="">
                <div class="dashboard-entry">
                    <div>Text Modules</div>
                    <div class="dashboard-number">{{ statistics.text_modules }}</div>
                </div>
            </div>
            <div class="dashboard-section">
                <img class="dashboard-icon" src="{% static './administration/icons/codes.png' %}" alt="">
                <div class="dashboard-entry">
                    <div>Code Modules</div>
                    <div class="dashboard-number">{{ statistics.code_modules }}</div>
                </div>
            </div>
            <div class="dashboard-section">
                <img class="dashboard-icon" src="{% static './administration/icons/pictures.png' %}" alt="">
                <div class="dashboard-entry">
                    <div>Images</div>
                    <div class="dashboard-number">{{ statistics.images }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
