{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="content">
        <h1>Link Step</h1>
        <a href="{% url 'howtos-edit' uri_id %}" class="add-button">Back</a>
        {% for step in steps %}
            <div class="list-box">
                <div class="list-box-clickable{% if step.is_super %} is-super{% endif %}{% if step.is_decision %} is-decision{% endif %}" onclick="showChangeBox('change-box-{{ step.uri_id }}');">
                    <div class="list-box-title">{{ step.title }}</div>
                </div>
            <a href="{% url 'howtos-add-steps-confirm' uri_id step.uri_id %}" class="list-box-edit">+</a>
        </div>
        {% endfor %}
    </div>
{% endblock %}
