                                <ul>
                                    <li>step0
                                        <ul>
                                            <li>step0.0</li>
                                            <li>step0.1</li>
                                            <li>step0.2</li>
                                        </ul>
                                    </li>
                                    <li>step1</li>
                                    <li>step2
                                        <ul>
                                            <li>step2.0</li>
                                            <li>decision2.1
                                                <ul class="decisiontree">
                                                    <li>decision2.1.0
                                                        <ul>
                                                            <li>step2.1.0.0</li>
                                                            <li>step2.1.0.1</li>
                                                            <li>step2.1.0.2</li>
                                                        </ul>
                                                    </li>
                                                    <li>decision2.1.1
                                                        <ul>
                                                            <li>step2.1.1.0</li>
                                                            <li>step2.1.1.1</li>
                                                            <li>step2.1.1.2</li>
                                                        </ul>
                                                    </li>
                                                    <li>decision2.1.2
                                                        <ul>
                                                            <li>step2.1.2.0</li>
                                                            <li>step2.1.2.1</li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>step2.2</li>
                                        </ul>
                                    </li>
                                </ul>