{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="content">
        <h1>Link Image</h1>
        <a href="{% url 'steps-edit' uri_id %}" class="add-button">Back</a>
        <div id="img-table">
            {% for image in images %}
                <a href="{% url 'steps-add-image-confirm' uri_id image.uri_id %}">
                    <div class="img-tile">
                        <div class="img-title">{{ image.title }}</div>
                        <div class="img-wrapper">
                            <img src="{{ image.image }}" alt="">
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
