{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="content">
        <h1>Edit Step</h1>
        <div class="void-l"></div>
        <form class="title-form" action="" method="post">
            {% csrf_token %}
            {{ form }}
            <input class="input-submit" type="submit" value="Change">
        </form>
        <div class="void-xs"></div>
        <div class="form-underline"></div>
        <div class="void-l"></div>

        <div id="sortable" class="noselect">
            {% for substep in step.substeps %}
                <div id="{{substep.uri_id}}" class="list-group-item sortable-box">
                    <div class="sortable-box-clickable" onclick="showChangeBox('change-box-{{ substep.uri_id }}');">		
                        <div class="sortable-drag">
                            <div>
                                <div class="drag"></div>
                                <div class="drag"></div>
                                <div class="drag"></div>
                            </div>
                        </div>
                        <div class="sortable-position">
                            {{ forloop.counter }}
                        </div>
                        <div class="sortable-title">
                            <div class="step-title">{{ substep.title }}</div>
                            <div class="tree">
                                <ul>
                                    {{ substep.rendered_tree|safe }}
                                </ul>
                            </div>
                        </div>
                        <div id="change-box-{{ substep.uri_id }}" class="change-box change-box-main">
                            <a href="{% url 'steps-delete-step' step.uri_id substep.uri_id %}" class="change-box-delete">x</a>
                            <a href="{% url 'steps-edit' substep.uri_id %}" class="change-box-edit">✎</a>
                        </div>
                    </div>
                    <a href="{% url 'steps-edit' substep.uri_id %}" class="list-box-edit">✎</a>
                </div>
            {% endfor %}
        </div>
        <div id="sortableee" class="noselect">
            {% for decisionstep in step.decisionsteps %}
                <div id="{{decisionstep.uri_id}}" class="list-group-item sortable-box">
                    <div class="sortable-box-clickable" onclick="showChangeBox('change-box-{{ decisionstep.uri_id }}');">		
                        <div class="sortable-drag">
                            <div>
                                <div class="drag"></div>
                                <div class="drag"></div>
                                <div class="drag"></div>
                            </div>
                        </div>
                        <div class="sortable-position">
                            {{ forloop.counter }}
                        </div>
                        <div class="sortable-title">
                            <div class="step-title">{{ decisionstep.title }}</div>
                            <div class="tree">
                                <ul>
                                    {{ decisionstep.rendered_tree|safe }}
                                </ul>
                            </div>
                        </div>
                        <div id="change-box-{{ decisionstep.uri_id }}" class="change-box change-box-main">
                            <a href="{% url 'steps-delete-decision' step.uri_id decisionstep.uri_id %}" class="change-box-delete">x</a>
                            <a href="{% url 'steps-edit' decisionstep.uri_id %}" class="change-box-edit">✎</a>
                        </div>
                    </div>
                    <a href="{% url 'steps-edit' decisionstep.uri_id %}" class="list-box-edit">✎</a>
                </div>
            {% endfor %}
        </div>
        <div class="step-functions">
            <a href="{% url 'steps-add-steps' step.uri_id %}" class="add-button btn-big">
                <img src="{% static 'administration/icons/steps.png' %}" alt="">
                <div class="add-circle-wrapper">
                    <div class="add-circle">+</div>
                </div>
            </a>
            <a href="{% url 'steps-add-decisions' step.uri_id %}" class="add-button btn-big">
                <img src="{% static 'administration/icons/decision.png' %}" alt="">
                <div class="add-circle-wrapper">
                    <div class="add-circle">+</div>
                </div>
            </a>
        </div>
        <div class="void-l"></div>
        <div class="form-underline-grey"></div>
        <div class="void-l"></div>
        <div id="sortablee" class="noselect">
            {% for module in step.modules %}
                <div id="{{module.uri_id}}" class="list-group-item sortable-box">
                    <div class="sortable-box-clickable" onclick="showChangeBox('change-box-{{ module.uri_id }}');">		
                        <div class="sortable-drag">
                            <div>
                                <div class="drag"></div>
                                <div class="drag"></div>
                                <div class="drag"></div>
                            </div>
                        </div>
                        <div class="sortable-title">
                            {% if module.type == 'text' %}
                                <pre class="explanation-text">{{ module.content|safe }}</pre>
                            {% elif module.type == 'code' %}
                                <pre class="explanation-code">{{ module.content|safe }}</pre>
                            {% elif module.type == 'image' %}
                                <img class="steplist-img" src="{{ module.image }}" alt="">
                            {% endif %}
                        </div>
                        <div id="change-box-{{ module.uri_id }}" class="change-box change-box-main">
                            <a href="{% url 'steps-delete-module' step.uri_id module.uri_id %}" class="change-box-delete">x</a>
                            <a href="{% url 'explanation-edit' module.uri_id %}" class="change-box-edit">✎</a>
                        </div>
                    </div>
                    <a href="{% url 'explanation-edit' module.uri_id %}" class="list-box-edit">✎</a>
                </div>
            {% endfor %}
        </div>
        <div id="modules-btn-wrapper">
            <a href="{% url 'steps-add-image' step.uri_id %}" class="add-button btn-big">
                <img src="{% static 'administration/icons/pictures.png' %}" alt="">
                <div class="add-circle-wrapper">
                    <div class="add-circle">+</div>
                </div>
            </a>
            <a href="{% url 'steps-add-textmodule' step.uri_id %}" class="add-button btn-big">
                <img src="{% static 'administration/icons/explanations.png' %}" alt="">
                <div class="add-circle-wrapper">
                    <div class="add-circle">+</div>
                </div>
            </a>
            <a href="{% url 'steps-add-codemodule' step.uri_id %}" class="add-button btn-big">
                <img src="{% static 'administration/icons/codes.png' %}" alt="">
                <div class="add-circle-wrapper">
                    <div class="add-circle">+</div>
                </div>
            </a>
            <a href="#" class="add-button btn-big">
                <img src="{% static 'administration/icons/links.png' %}" alt="">
                <div class="add-circle-wrapper">
                    <div class="add-circle">+</div>
                </div>
            </a>
        </div>
    </div>

{% endblock %}

{% block site-specific-script %}
    <script>
        const URL_SAVE_STEP_ORDER = "{% url 'save_step_order' id=step.uri_id %}"
        const URL_SAVE_EXPLANATION_ORDER = "{% url 'save_explanation_order' id=step.uri_id %}"
        const URL_SAVE_DECISION_ORDER = "{% url 'save_decision_order' id=step.uri_id %}"
    </script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.10.2/Sortable.min.js" type="text/javascript"></script>
	<script src="{% static './administration/js/sortable.js' %}" type="text/javascript"></script>
{% endblock site-specific-script %}