{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="content">
        <h1>Supersteps</h1>
        <a href="{% url 'steps-create' %}" class="add-button">+</a>
        {% for step in steps %}
            {% if step.is_super %}
                <div class="list-box">
                    <div class="list-box-clickable{% if step.is_super %} is-super{% endif %}{% if step.is_decision %} is-decision{% endif %}" onclick="showChangeBox('change-box-{{ step.uri_id }}');">
                        <div class="list-box-title">{{ step.title }}</div>
                        <div class="list-box-added">{{ step.created }}</div>
                        <div class="list-box-last-edit">{{ step.updated }}</div>
                        <div id="change-box-{{ step.uri_id }}" class="change-box">
                            <a href="{% url 'steps-edit' step.uri_id %}" class="change-box-edit">edit</a>
                            <a href="#" class="change-box-tag"><s>tag</s></a>
                            <a href="{% url 'supersteps-delete' step.uri_id %}" class="change-box-delete">delete</a>
                        </div>
                    </div>
                    <a href="{% url 'steps-edit' step.uri_id %}" class="list-box-edit">✎</a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
