:root {
	--maincolor: rgb(0,146,223);
	--maincolordarker: rgb(0,126,203);
	--maincolorshadow: rgba(0,126,203,0.3);
}

body {
	padding-left: 300px;
	-webkit-font-smoothing: antialiased;
}

#nav-mobile {
	background: linear-gradient(
	  128deg,
	  var(--maincolor) 0%,
	  var(--maincolordarker) 100%
	);
	box-shadow: 0 0 10px var(--maincolorshadow);
}

.nav-icon {
	height: 24px;
	width: 24px;
}

.nav-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.nothing-1 {
	height: 2vh;
}

.nothing-2 {
	height: 4vh;
}

#dashboard {
	display: flex;
	gap: 42px;
}

.card.small {
	height: 200px;
	width: 200px;
}

.table-created {
	width: 180px;
}
.table-updated {
	width: 140px;
}
.table-published {
	width: 140px;
}

.table-edit {
	width: 60px;
}

#list-header {
	display: flex;
	justify-content: space-between;
}

.table-sort-control {
	margin-top: 4px;
}

.create-control {
	display: flex;
	justify-content: space-between;
}

.linked-wrapper {
	display: flex;
	justify-content: space-between;
}

.title-form {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

/* form */
#id_title:focus {
	border-bottom: 1px solid var(--maincolor);
}

.linked {
	display: flex;
	gap: 1ch;
}

.sortable-item {
	cursor: grab;
}

.collection .collection-inner {
	border-bottom: none;
}