* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(32,36,40);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: calc((1vh * 2 + 1vw * 3) / 3);
}

a {
    color: white;
    text-decoration: none;
}

#header {
    width: 100%;
    height: 6vh;
    background: rgb(52,56,60);
}

#headercontent > ul {
    display: flex;
}

#headercontent > ul > li {
    list-style-type: none;
}

.header-link {
    padding: 1vh 1vw;
}

#headercontent > ul > li > a:hover {
    color: rgb(212,216,220);
}

.mainsection {
    min-height: 61.8vh;
    padding: 8vh;
}

#copyright {
    min-height: 10vh;
}

#copyrightcontent {
    max-width: 1000px;
    font-size: 1.1vh;
}

.webapps-link {
    display: grid;
    grid-template-rows: auto 280px 60px auto;
    gap: 2vh;
}

.bg-shade32 {
    background: rgb(32,36,40);
    color: white;
}
.bg-shade202 {
    background: rgb(202,206,210);
    color: rgb(32,36,40);
}
.bg-shade212 {
    background: rgb(212,216,220);
    color: rgb(32,36,40);
}
.bg-shade232 {
    background: rgb(232,236,240);
    color: rgb(32,36,40);
}
.bg-shade242 {
    background: rgb(242,246,250);
    color: rgb(32,36,40);
}

.pos-c-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectioncontent,
#headercontent {
    width: 100%;
    max-width: 1000px;
}

.col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4vh;
}

.col-2 > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.void-bottom-xs {margin-bottom: 2vh;}
.void-bottom-m {margin-bottom: 6vh;}

.btn {
    width:fit-content;
    padding: 2vh;
    color: white;
    border: 1px solid white;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-dark {
    color: rgb(32,36,40);
    border: 1px solid rgb(32,36,40);
}

.btn-dark:hover {
    background: rgba(32,36,40,.08);
}

#pic-demo {
    height: 32vh;
    width: auto;
}

#pic-kb {
    height: 16vh;
    width: auto;
}
/* ----------------------------------------------------------------------------
 *    X. How To's
 * ------------------------------------------------------------------------- */
 .viewer-howto-box {
    padding: 24px;
    background: rgb(32,36,40);
    border-radius: 6px;
    width: 60vw;
    margin-bottom: 12px;
    color: white;
}

#howtos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 80vh;
}

#howtos a {
    color: rgb(32,36,40);
}

#howtos a:hover {
    color: rgb(0,146,223);
}

/* ----------------------------------------------------------------------------
 *    X. Guide
 * ------------------------------------------------------------------------- */
#guide-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#guide {
    display: grid;
    grid-template-areas:
    "previous next ."
    "content content steps";
  grid-template-columns: minmax(160px, 400px) minmax(160px, 400px) 200px;
  grid-template-rows: auto minmax(500px, auto);
  gap: 12px;
  font-size: .8rem;
}

#guide-steps {
    grid-area: steps;
}

#guide-content {
    grid-area: content;
    border: 1px solid rgb(192,196,200);
    border-radius: 4px;
    padding: 12px;
}

#guide-content h3 {
    margin-bottom: 24px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgb(212,216,220);
}

#guide-previous {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-area: previous;
}

#guide-next {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: next;
}

.steps-indent-1 {margin-left: 12px;}
.steps-indent-2 {margin-left: 24px;}
.steps-indent-3 {margin-left: 36px;}
.steps-indent-4 {margin-left: 48px;}
.steps-indent-5 {margin-left: 60px;}

#guide a {
    color: rgb(32,36,40);
}

#guide a:hover {
    color: rgb(0,146,223);
}

.round-btn {
    background: rgb(0,146,223);
    height: 44px;
    width: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: white;
}

#btn-previous {
    margin-right: 12px;
}

#btn-next {
    margin-left: 12px;
}

#btn-restart {
    margin-top: 24px;
    background: rgb(192,196,200);
}

#step-current {
    color: rgb(0,146,223);
    font-weight: bold;
}

/* ----------------------------------------------------------------------------
 *    X. Content
 * ------------------------------------------------------------------------- */

.module-text,
.module-code,
.module-image {
    margin-bottom: 36px;
}


.module-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    white-space: pre-wrap;
}

.module-code {
    background: rgb(232,236,240);
    border-left: 4px solid rgb(0,146,223);
    border-radius: 3px;
    padding: 16px 12px;
    overflow-y: auto;
}

.module-image {
    width: 560px;
    max-width: 100%;
    border-radius: 3px;
}






@media screen and (min-width: 1200px) {
    body {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: calc((2vh + 6vw) / 3);
    }

    .mainsection {
        padding: 6vw;
    }

    .col-2 {
        display: flex;
        flex-direction: column;
    }

    .col-2 > div {
        justify-content: flex-start;
    }
    
    #pic-demo {
        width: 42vw;
        height: auto;
    }

    #pic-kb {
        width: 22vw;
        height: auto;
    }
}

@media screen and (max-width: 668px) {
    #guide {
        grid-template-areas:
        "previous next"
        "content content"
        "steps steps";
      grid-template-columns: 46vw 46vw;
      grid-template-rows: auto minmax(500px, auto) auto;
    }
}