{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>Dashboard</h1>

        <div id="dashboard" class="row">

            <div class="card small waves-effect waves-orange">
                <div class="card-content">
                    <span class="card-title">Sequences</span>
                    <p>{{ statistics.sequences }}</p>
                </div>
                <div class="card-action">
                    <a href="{% url 'sequences' %}">Sequences</a>
                </div>
            </div>

            <div class="card small waves-effect waves-orange">
                <div class="card-content">
                    <span class="card-title">Steps</span>
                    <p>{{ statistics.steps }}</p>
                </div>
                <div class="card-action">
                    <a href="{% url 'steps' %}">Steps</a>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock content %}
