{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="content">
        <h1>Image</h1>
        <p>Upload Image</p>
        <div class="void-l"></div>
        <form action="{% url 'image-upload' %}" method="post" enctype="multipart/form-data" class="image-form-new">
            {% csrf_token %}
            {{ form }}
            <div class="title-form-buttons">
                <input class="input-submit" type="submit" value="Upload">
            </div>
        </form>
        
    </div>
{% endblock %}
