{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container">
    <div class="row">
        <h1>Sequence</h1>
        <div class="nothing-1"></div>
            {% include 'modules/edit/title_form.html' %}
        <div class="nothing-2"></div>

        <div class="row">
            <ul id="sortable" class="collection">
                {% for link in linked %}
                    {% include 'modules/edit/recursive_step_sequence.html' with first=True %}
                {% endfor %}
              </ul>
        </div>

    </div>
</div>
{% endblock %}

{% block page-script %}
    <script type="text/javascript" src="{% static './cms/js/src/sortable.js' %}"></script>
    <script type="text/javascript">
        const URL_LINKED_STEPS_ORDER = "{% url 'linked-steps-order' uuid=step %}"
        const CSRFToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        new Sortable.create(sortable, {
            animation: 150,
            ghostClass: 'hovering-background-class',
            onUpdate: function (evt) {
                ajax_reorder(URL_LINKED_STEPS_ORDER, evt.oldIndex, evt.newIndex)
            },
        })

        function ajax_reorder(url, oldIndex, newIndex) {
        fetch(url, {
            method: 'POST',
            body : JSON.stringify({'from_index': oldIndex, 'to_index' : newIndex}),
            headers: {
                'X-CSRFToken' : CSRFToken,
                'contentType' : 'application/json; charset=UTF-8'}
            })
            .then(response => {
                if (response.status >= 200 && response.status < 300) {
                    return response.json();
                } else {
                    throw Error(response.statusText);
                }
            })
            .then(jsonResponse => {
                location.reload(false);
            }
        )
    }
    </script>
{% endblock %}
