{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="container">
    <div class="row">
        <h1>Sequences</h1>
        <div class="nothing-1"></div>

        <div class="row">
            {% include 'modules/list/pagination_header.html' %}

            <div class="nothing-1"></div>
            <table class="highlight">
                <thead>
                    <tr>
                        <th class="table-edit">
                            {% if ordering != None %}
                            <div><br></div>
                            <a class="black-text" href="?page={{ current }}">
                                <i class="material-icons">clear</i>
                            </a>
                            {% endif %}
                        </th>
                        {% include 'modules/list/th_title.html' %}
                        {% include 'modules/list/th_created.html' %}
                        {% include 'modules/list/th_updated.html' %}
                        {% include 'modules/list/th_published.html' %}
                    </tr>
                </thead>

                </tr>
                    {% for sequence in sequences %}
                        <tr>    
                            <td>
                                <a class="btn-floating btn-small grey" href="{% url 'sequence' sequence.uuid %}">
                                    <i class="material-icons">create</i>
                                </a>
                            </td>
                            <td>{{ sequence.title }}</td>
                            <td>{{ sequence.created }}</td>
                            <td>{{ sequence.updated }}</td>
                            <td>
                                {% if sequence.is_published %}
                                    {{ sequence.published }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>
    </div>
</div>

<div id="add" class="modal">
    <div class="modal-content">
        <h4>Create New Sequence</h4>
        <div class="nothing-2"></div>
        <div class="row">
            {% include 'modules/list/add_form.html' %}
        </div>
        <div class="nothing-2"></div>
    </div>
</div>

{% endblock content %}

{% block page-script %}
    {% include 'modules/list/add_form_script.html' %}
{% endblock page-script %}
