{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="container">
    <div class="row">
        <h1>Sequences</h1>
        <div class="nothing-1"></div>

        <div class="row">

            <div id="list-header">    
                {% include 'modules/pagination.html' %}
                <a class="btn-floating btn-large blue">
                    <i class="material-icons">add</i>
                </a>
            </div>

            <div class="nothing-1"></div>
            <table class="highlight">
                <thead>
                    <tr>
                        <th class="table-edit">
                            {% if ordering != None %}
                            <div><br></div>
                            <a class="black-text" href="{% url 'sequences' %}">
                                <i class="material-icons">clear</i>
                            </a>
                            {% endif %}
                        </th>
                        <th class="table-sort">
                            <div >Title</div>
                            <div class="table-sort-control">
                                <a class="{% if ordering == 'step__title' %}blue-text{% else %}black-text{% endif %}" href="?page={{ current }}&ordering=step__title">
                                    <i class="material-icons">expand_less</i>
                                </a>
                                <a class="{% if ordering == '-step__title' %}blue-text{% else %}black-text{% endif %}" href="?page={{ current }}&ordering=-step__title">
                                    <i class="material-icons">expand_more</i>
                                </a>
                            </div>
                        </th>
                        <th class="table-created">
                            <div>Created</div>
                            <div class="table-sort-control">
                                <a class="{% if ordering == 'created' %}blue-text{% else %}black-text{% endif %}" href="?page={{ current }}&ordering=created">
                                    <i class="material-icons">expand_less</i>
                                </a>
                                <a class="{% if ordering == '-created' %}blue-text{% else %}black-text{% endif %}" href="?page={{ current }}&ordering=-created">
                                    <i class="material-icons">expand_more</i>
                                </a>
                            </div>
                        </th>
                        <th class="table-updated">
                            <div>Updated</div>
                            <div class="table-sort-control">
                                <a class="{% if ordering == 'updated' %}blue-text{% else %}black-text{% endif %}" href="?page={{ current }}&ordering=updated">
                                    <i class="material-icons">expand_less</i>
                                </a>
                                <a class="{% if ordering == '-updated' %}blue-text{% else %}black-text{% endif %}" href="?page={{ current }}&ordering=-updated">
                                    <i class="material-icons">expand_more</i>
                                </a>
                            </div>
                        </th>
                        <th class="table-published">
                            <div>Published</div>
                            <div><br></div>
                        </th>
                    </tr>
                </thead>

                </tr>
                    {% for sequence in sequences %}
                        <tr>    
                            <td>
                                <a class="btn-floating btn-small grey" href="{% url 'sequence' sequence.uuid %}">
                                    <i class="material-icons">create</i>
                                </a>
                            </td>
                            <td>{{ sequence.title }}</td>
                            <td>{{ sequence.created }}</td>
                            <td>{{ sequence.updated }}</td>
                            <td>
                                {% if sequence.is_published %}
                                    {{ sequence.published }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>
    </div>
</div>

{% endblock content %}



{% comment %}
<div class="d-flex justify-content-between">
    {% include 'modules/paginator.html' %}
    <a href="{% url 'sequences-create' %}" class="add-button">+</a>
</div>
{% for sequence in sequences %}
    <div class="list-box">
        <div class="list-box-clickable" onclick="showChangeBox('change-box-{{ sequence.api_id }}');">
            <div class="list-box-title">{{ sequence.title }}</div>
            <div class="list-box-added">{{ sequence.created }}</div>
            <div class="list-box-last-edit">{{ sequence.updated }}</div>
            <div id="change-box-{{ sequence.api_id }}" class="change-box">
                <a href="{% url 'sequence' sequence.api_id %}" class="change-box-edit">edit</a>
                <a href="#" class="change-box-tag"><s>tag</s></a>
                <a href="{% url 'sequences-delete' sequence.api_id %}" class="change-box-delete">delete</a>
            </div>
        </div>
    <a href="{% url 'sequence' sequence.api_id %}" class="list-box-edit">✎</a>
</div>
{% endfor %}
</div>
{% endcomment %}