{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="content">
        <h1>Sequences</h1>
        <div class="d-flex justify-content-between">
            {% include 'modules/paginator.html' %}
            <a href="{% url 'sequences-create' %}" class="add-button">+</a>
        </div>
        {% for sequence in sequences %}
            <div class="list-box">
                <div class="list-box-clickable" onclick="showChangeBox('change-box-{{ sequence.api_id }}');">
                    <div class="list-box-title">{{ sequence.title }}</div>
                    <div class="list-box-added">{{ sequence.created }}</div>
                    <div class="list-box-last-edit">{{ sequence.updated }}</div>
                    <div id="change-box-{{ sequence.api_id }}" class="change-box">
                        <a href="{% url 'sequences-edit' sequence.api_id %}" class="change-box-edit">edit</a>
                        <a href="#" class="change-box-tag"><s>tag</s></a>
                        <a href="{% url 'sequences-delete' sequence.api_id %}" class="change-box-delete">delete</a>
                    </div>
                </div>
            <a href="{% url 'sequences-edit' sequence.api_id %}" class="list-box-edit">✎</a>
        </div>
        {% endfor %}
    </div>
{% endblock %}
