{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="container">
    <div class="row">
        <h1>Steps</h1>
        <div class="nothing-1"></div>
        <div id="list" class="row">
            {% include 'modules/step_list.html' %}
        </div>
    </div>
</div>

<div id="add" class="modal">
    <div class="modal-content">
        <h4>Create New Step</h4>
        <div class="nothing-2"></div>
        <div class="row">
            {% include 'modules/list/add_form.html' %}
        </div>
        <div class="nothing-2"></div>
    </div>
</div>

{% endblock content %}

{% block page-script %}
    {% include 'modules/list/add_form_script.html' %}
    <script type="text/javascript">
        function filter_steps(event, page, ordering) {
            event.preventDefault();
            
            url = "{% url 'steps-filter' %}?page=" + page + "&ordering=" + ordering
            list = document.querySelector('#list')
            ajax_filter_and_sort(url, list)
        }

        function ajax_filter_and_sort(url, element) {
            fetch(url, {
                method: 'GET',
                headers: {
                    'contentType' : 'application/json; charset=UTF-8'}
                })
                .then(response => {
                    if (response.status >= 200 && response.status < 300) {
                        return response.text();
                    } else {
                        throw Error(response.statusText);
                    }
                })
                .then(html => {
                    element.innerHTML = html
                }
            )
        }

    </script>
{% endblock page-script %}