{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="content">
        <h1>Steps</h1>
        <div class="d-flex justify-content-between">
            {% include 'modules/paginator.html' %}
            <a href="{% url 'steps-create' %}" class="add-button">+</a>
        </div>
        <div class="list-box">
            <div class="list-box-header">
                <div class="list-box-title">
                    <div>
                        <p>Title</p>                       
                        <a href="?page={{ paginator.current }}&ordering=title">&#8595;</a>
                        <a href="?page={{ paginator.current }}&ordering=-title">&#8593;</a>
                    </div>
                </div>
                <div class="list-box-added">
                    <div>
                        <p>Date Added</p>                       
                        <a href="?page={{ paginator.current }}&ordering=created">&#8595;</a>
                        <a href="?page={{ paginator.current }}&ordering=-created">&#8593;</a>
                    </div>
                </div>
                <div class="list-box-last-edit">
                    <div>
                        <p>Date Updated</p>                       
                        <a href="?page={{ paginator.current }}&ordering=updated">&#8595;</a>
                        <a href="?page={{ paginator.current }}&ordering=-updated">&#8593;</a>
                    </div>
                </div>
            </div>
            <div class="list-box-edit"></div>
        </div>
        {% for step in steps %}
            <div class="list-box">
                <div class="list-box-clickable{% if step.is_super %} is-super{% endif %}{% if step.is_decision %} is-decision{% endif %}" onclick="showChangeBox('change-box-{{ step.api_id }}');">
                    <div class="list-box-title">{{ step.title }}</div>
                    <div class="list-box-added">{{ step.created }}</div>
                    <div class="list-box-last-edit">{{ step.updated }}</div>
                    <div id="change-box-{{ step.api_id }}" class="change-box">
                        <a href="{% url 'steps-edit' step.api_id %}" class="change-box-edit">edit</a>
                        <a href="#" class="change-box-tag"><s>tag</s></a>
                        <a href="{% url 'steps-delete' step.api_id %}" class="change-box-delete">delete</a>
                    </div>
                </div>
                <a href="{% url 'steps-edit' step.api_id %}" class="list-box-edit">✎</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
