{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dashboard</title>
        <link rel="stylesheet" type="text/css" href="{% static './administration/style/style.css' %}">
    </head>
    <body>
        {% block unsupported %}
        {% include 'modules/unsupported.html' %}
        {% endblock unsupported %}

        {% block menu %}
        {% include 'modules/menu.html' %}
        {% endblock menu %}

        {% block content %}
        {% endblock content %}
        <script src="{% static 'administration/js/ui.js' %}" type="text/javascript"></script>
        {% block site-specific-script %}
	    {% endblock site-specific-script %}
    </body>
</html>