<li class="collection-item sortable-item{% if not first %} collection-inner{% endif %}">
    <div class="linked-wrapper">
        <div>
            <div class="linked">
                <div>{{ link.pos }}</div>
                <a class="btn-flat btn-small white" href="{% url 'step' link.uuid %}">
                    <i class="material-icons blue-text">edit</i>
                </a>
                <div class="{% if link.type == 'DECISION' %}green-text{% endif %}">{{ link.title }}</div>
            </div>
            <ul class="{% if link.type == 'DECISION' %}decision-list{% endif %}">
                {% for link in  link.linked %}
                    {% if link.type == 'DECISION' %}
                        {% include 'modules/edit/recursive_step.html' with first=False linked=link %}
                    {% else %}
                        {% include 'modules/edit/recursive_step.html' with first=False linked=link %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div>
            {% if first %}
                <a id="delete-btn" class="btn-flat btn-small white" href="{% url 'step-delete-linked' uuid link.uuid %}">
                    <i class="material-icons red-text darken-2">delete</i>
                </a>
            {% endif %}
        </div>
    </div>
</li>