{% extends 'base.html' %}

{% block content %}
	<div id="content">
        <h1>Dashboard</h1>
        <div class="void-xl"></div>
        <div id="dashboard-table">
            <div class="dashboard-table-row">
                <div class="dashboard-table-col">How To's</div>
                <div class="dashboard-table-col">{{ statistics.howTosCount }}</div>
            </div>
            <div class="dashboard-table-row">
                <div class="dashboard-table-col">Steps</div>
                <div class="dashboard-table-col">{{ statistics.stepsCount }}</div>
            </div>
            <div class="dashboard-table-row">
                <div class="dashboard-table-col">SuperSteps</div>
                <div class="dashboard-table-col">{{ statistics.superStepsCount }}</div>
            </div>
            <div class="dashboard-table-row">
                <div class="dashboard-table-col">SubSteps</div>
                <div class="dashboard-table-col">{{ statistics.subStepsCount }}</div>
            </div>
        </div>
    </div>
{% endblock content %}
