{% extends 'base.html' %}

{% block content %}
	<div id="content">
        <h1>Dashboard</h1>
        <div class="void-xl"></div>
        <div id="dashboard-table">
            <div class="dashboard-table-row">
                <div class="dashboard-table-col">How To's</div>
                <div class="dashboard-table-col">{{ statistics.how_tos }}</div>
            </div>
            <div class="dashboard-table-row">
                <div class="dashboard-table-col">Steps</div>
                <div class="dashboard-table-col">{{ statistics.steps }}</div>
            </div>
            <div class="dashboard-table-row">
                <div class="dashboard-table-col">Supersteps</div>
                <div class="dashboard-table-col">{{ statistics.supersteps }}</div>
            </div>
            <div class="dashboard-table-row">
                <div class="dashboard-table-col">Substeps</div>
                <div class="dashboard-table-col">{{ statistics.substeps }}</div>
            </div>
        </div>
    </div>
{% endblock content %}
