{% extends 'base.html' %}

{% block content %}
	<div id="content">
        <h1>Information</h1>
        <div class="void-m"></div>
        <h3>How-to's</h3>
        <p>A How To is a step-by-step instruction with the goal of reaching a certain objective. This page lets you edit the entry points in the user application.</p>
        <div class="void-m"></div>
        <h3>Steps</h3>
        <p>A step is part of a How-to. Steps either have a description or linked substeps. These steps can be re-used.</p>
    </div>
{% endblock content %}
