{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="content">
        <h1>Edit Step</h1>
        <div class="void-l"></div>
        <form class="title-form" action="" method="post">
            {% csrf_token %}
            {{ form }}
            <input class="input-submit" type="submit" value="Change">
        </form>
        <div class="void-xs"></div>
        <div class="form-underline"></div>
        <div class="void-l"></div>

        <div id="sortable" class="noselect">
            {% for substep in step.steps %}
                <div id="{{substep.id}}" class="list-group-item sortable-box">
                    <div class="sortable-box-clickable" onclick="showChangeBox('change-box-{{ substep.id }}');">		
                        <div class="sortable-drag">
                            <div>
                                <div class="drag"></div>
                                <div class="drag"></div>
                                <div class="drag"></div>
                            </div>
                        </div>
                        <div class="sortable-position">
                            {{ forloop.counter }}
                        </div>
                        <div class="sortable-title">
                            <div class="step-title">{{ substep.title }}</div>
                            <div class="tree">
                                <ul>
                                    {{ substep.substeps|unordered_list }}
                                </ul>
                            </div>
                        </div>
                        <div id="change-box-{{ substep.id }}" class="change-box change-box-main">
                            <a href="#" class="change-box-delete"><s>remove</s></a>
                            <a href="{% url 'steps_edit' substep.id %}" class="change-box-edit">edit</a>
                        </div>
                    </div>
                    <a href="{% url 'steps_edit' substep.id %}" class="list-box-edit">✎</a>
                </div>
            {% endfor %}
        </div>
        <div>
            <div class="void-m"></div>
            <a href="#"><s>LINK STEP</s></a>
        </div>
    </div>

{% endblock %}

{% block site-specific-script %}
    <script>
        const UPDATE_DATABASE_URL = "{% url 'save_step_order' uri_id=step.id %}";
    </script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.10.2/Sortable.min.js" type="text/javascript"></script>
	<script src="{% static './administration/js/sortable.js' %}" type="text/javascript"></script>
{% endblock site-specific-script %}