{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="content">
    <h1>Delete Step</h1>
    <div class="box-wrapper border-warn">
        <div class="box-header bg-warn">WARNING</div>
        <div class="box">
            <p>Are you sure you wan't to delete the Step <strong>{{ title }}</strong>?</p>
            <div>
                <a href="{% url 'supersteps_delete_confirm' id %}">
                    <button class="btn-warn">Yes</button>
                </a>
                <a href="{% url 'supersteps' %}">
                    <button class="btn-warn">No</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}