<div id="guide-wrapper" class="mainsection pos-c-c bg-shade242">
    <div id="guide">
        <div>
            {% if step.previous and step.previous_ref %}
                <a id="guide-previous" href="javascript:;" onclick="viewerActionPrevious('{{step.previous}}', '{{step.previous_ref}}')">
                    <div class="round-btn" id="btn-previous">&lt;</div>
                    <div>Previous Step</div>
                </a>
            {% endif %}
        </div>
        <div>
            {% if step.next and step.next_ref %}
                <a id="guide-next" href="javascript:;" onclick="viewerActionNext('{{step.next}}', '{{step.next_ref}}')">
                    <div>Next Step</div>
                    <div class="round-btn" id="btn-next">&gt;</div>
                </a>
            {% endif %}
        </div>
        <div id="guide-content">
            <h3>{{ step.title }}</h3>
            <div>{{ step.content|safe }}</div>
        </div>
        <div id="guide-steps">
            <h3>{{ step.howto_title }}</h3>
            <br>
            {% for pos, data in step.steps.items %}
                <div class="steps-indent-{{ data.level }}">
                    <a id="{% if data.current == True %}step-current{% endif %}" class="step-number" href="javascript:;" onclick="viewerActionGoTo('{{data.uri_id}}', '{{data.ref_id}}')">
                        <div>
                            {{ data.number }}
                        </div>
                        <div>
                            {{ data.title }}
                        </div>
                    </a>
                </div>
            {% endfor %}
            <a class="round-btn" id="btn-restart" href="javascript:;" onclick="viewerActionGoTo('{{step.first}}', '{{step.first_ref}}')">&#x21bb;</a>
        </div>
    </div>
</div>