<th class="table-updated">
    <div>Published</div>
    <div class="table-sort-control">
        <a class="{% if ordering == 'published' %}blue-text{% else %}black-text{% endif %}" href="?page={{ current }}&ordering=published">
            <i class="material-icons">expand_less</i>
        </a>
        <a class="{% if ordering == '-published' %}blue-text{% else %}black-text{% endif %}" href="?page={{ current }}&ordering=-published">
            <i class="material-icons">expand_more</i>
        </a>
    </div>
</th>
