<th class="table-updated">
    <div>Updated</div>
    <div class="table-sort-control">
        <a class="{% if ordering == 'updated' %}blue-text{% else %}black-text{% endif %}" onclick="filter_steps(event, {{ current }}, 'updated')" href="#">
            <i class="material-icons">expand_less</i>
        </a>
        <a class="{% if ordering == '-updated' %}blue-text{% else %}black-text{% endif %}" onclick="filter_steps(event, {{ current }}, '-updated')" href="#">
            <i class="material-icons">expand_more</i>
        </a>
    </div>
</th>