{% load static %}
<header>
    <ul id="nav-mobile" class="sidenav sidenav-fixed white-text">
        <li>
            <h3 class="center-align">Sequences</h3>
            <div class="nothing-1"></div>
        </li>
        <li>
            <div class="divider"></div>
            <div class="nothing-2"></div>
        </li>
        <li class="{% if site == 'dashboard' %}active{% endif %}">
            <a class="nav-link white-text" href="{% url 'dashboard' %}">
                <div class="nav-content">
                    <img class="nav-icon" src="{% static './cms/icons/dashboard.png' %}" alt="">
                    <div>Dashboard</div>
                </div>
            </a>
        </li>
        <li class="{% if site == 'sequences' %}active{% endif %}">
            <a class="nav-link white-text" href="{% url 'sequences' %}">
                <div class="nav-content">
                    <img class="nav-icon" src="{% static './cms/icons/sequences.png' %}" alt="">
                    <div>Sequences</div>
                </div>
            </a>
        </li>
        <li class="{% if site == 'steps' %}active{% endif %}">
            <a class="nav-link white-text" href="{% url 'steps' %}">
                <div class="nav-content">
                    <img class="nav-icon" src="{% static './cms/icons/steps.png' %}" alt="">
                    <div>Steps</div>
                </div>
            </a>
        </li>
    </ul>
</header>
