{% load pagination %}


<ul class="pagination">
    {# ---------- previous page ---------- #}
    {% if previous != None %}
        <li>
            <a onclick="filter_steps(event, {{ previous }}, '{{ ordering }}')" href="#">
                <i class="material-icons">chevron_left</i>
            </a>
        </li>
    {% else %}
        <li class="disabled">
            <a href="#">
                <i class="material-icons">chevron_left</i>
            </a>
        </li>
    {% endif %}

    {# ---------- pages ---------- #}
    {% for page in pages|pages_list %}
        <li class="{% if page == current %}active blue{% endif %}">
            <a onclick="filter_steps(event, {{ page }}, '{{ ordering }}')" href="#">{{ page }}</a>
        </li>
    {% endfor %}

    {# ---------- next page ---------- #}
    {% if next != None %}
        <li>
        <a onclick="filter_steps(event, {{ next }}, '{{ ordering }}')" href="#">
            <i class="material-icons">chevron_right</i>
        </a>
        </li>
    {% else %}
        <li class="disabled">
        <a href="#">
            <i class="material-icons">chevron_right</i>
        </a>
        </li>
    {% endif %}

</ul>
