{% include 'modules/list/pagination_header.html' %}

<div class="nothing-1"></div>
<table class="highlight">
    <thead>
        <tr>
            <th class="table-edit">
                {% if ordering != '' %}
                <div><br></div>
                <a class="black-text" onclick="filter_steps(event, {{ current }}, '')" href="#">
                    <i class="material-icons">clear</i>
                </a>
                {% endif %}
            </th>
            {% include 'modules/list/th_title.html' %}
            {% include 'modules/list/th_created.html' %}
            {% include 'modules/list/th_updated.html' %}
            <th></th>
        </tr>
    </thead>

    </tr>
        {% for step in steps %}
            <tr>    
                <td>
                    {% if type == 'linkable' %}
                        <a class="btn-floating btn-small grey" href="#" onclick="link_step(event, '{{ step.uuid }}')">
                            <i class="material-icons">add</i>
                        </a>
                    {% else %}
                        <a class="btn-flat btn-small white" href="{% url 'step' step.uuid %}">
                            <i class="material-icons blue-text">edit</i>
                        </a>
                    {% endif %}
                </td>
                <td>{{ step.title }}</td>
                <td>{{ step.created }}</td>
                <td>{{ step.updated }}</td>
                <td>
                    <a id="delete-btn" class="btn-flat btn-small white" href="{% url 'step-delete' step.uuid %}">
                        <i class="material-icons red-text darken-2">delete</i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>